.boardContainer {
    width: 45rem;
    height: 38.5rem;
    display: grid;
    grid-template-columns: repeat(7, auto);
    $border-radius: 10px;
    >:nth-child(1) {
        border-top-left-radius: $border-radius;
    }
    >:nth-child(7) {
        border-top-right-radius: $border-radius;
    }
    >:nth-child(36) {
        border-bottom-left-radius: $border-radius;
    }
    >:nth-child(42) {
        border-bottom-right-radius: $border-radius;
    }
}

.squareContainer {
    background-color: var(--square-bgc);
    box-shadow: inset 0 0 4px 0.5px var(--square-border-bgc);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circleContainer{
    height: 80%;
    width: 80%;
    border-radius: 50%;
    cursor: pointer;
    &[is-over="true"]{
        cursor: default;
    }
    &[fillcolor="0"]{
        // empty
        background-image: radial-gradient(circle, var(--circle-empty-bgi-in), var(--circle-empty-bgi-out));
        box-shadow: inset 3px 3px 3px 0px var(--circle-empty-box-shadow-color);
    }
    &[fillcolor="1"]{
        // first
        background-image: radial-gradient(circle, var(--circle-first-bgi-in), var(--circle-first-bgi-out));
        box-shadow: inset 3px 3px 3px 0px var(--circle-first-box-shadow-color);
    }

    &[fillcolor="2"]{
        // second
        background-image: radial-gradient(circle, var(--circle-second-bgi-in), var(--circle-second-bgi-out));
        box-shadow: inset 3px 3px 3px 0px var(--circle-second-box-shadow-color);
    }

}