.signInContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    .loader{
        height: 8rem;
        width: 8rem;
        animation:  3s backwards infinite;
        animation-name: loader;
    }
    @keyframes loader {
        100% { transform: rotate(360deg) };
    }
    .inputContainer {
    position: relative;
        .input {
            height: 3rem;
            width: 25rem;
            border-radius: 7px;
            border: none;
            outline: none;
            padding-left: 5px;
        }
        
        .send {
            position: absolute;
            top: 1px;
            right: 1px;
            height: 3rem;
            width: 3rem;
            cursor: pointer;
        }
    }

}