.signInContainer {
    position: relative;

    .loader{
        height: 8rem;
        width: 8rem;
        animation:  3s backwards infinite;
        animation-name: loader;
    }
    @keyframes loader {
        100% { transform: rotate(360deg) };
    }
    .header {
        margin: 3rem 0;
        font-weight: bold;
        font-size: 1.3rem;

    }
    .input {
        // background-color: blue;
        // margin: auto;
        height: 3rem;
        width: 25rem;
        border-radius: 7px;
        border: none;
        outline: none;
        padding-left: 5px;
    }
    .send {
        // margin: 3rem 0;
        position: absolute;
        
        top: 1px;
        right: 1px;

        height: 3rem;
        width: 3rem;
        // right: 0.2rem;
        // top: 0.1rem;
        cursor: pointer;
    }
    // padding: 15rem;

}