.appContainer {
    background-color: var(--page-bgc);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .exitBtn {
        position: fixed;
        top: 1rem;
        right: 1rem;
        height: 2rem;
        width: 2rem;
        background-color: var(--exit-btn-bgc);
        border-radius: 4px;
        z-index: 1;
        cursor: pointer;
        &:hover{
            background-color: var(--exit-btn-bgc);
        }
        .exitIcon{
            filter: invert(85%);
            height: 100%;
            width: 100%;
        }
    }

    .gameContainer {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .victoryCountBoard{
            position: absolute;
            top: 5px;
            height: 2rem;
            width: 5rem;
            display: flex;
            gap: 0.1rem;
            .counter{
                display: flex;
                justify-content: center;
                align-items: center;
                
                &.second{
                    background-image: radial-gradient(circle, var(--victory-count-board-counter-second-bgi-in),var(--victory-count-board-counter-second-bgi-out));
                    box-shadow: inset 0 0 3px 3px var(--victory-count-board-counter-second-box-shadow);
                    color: var(--victory-count-second-color);
                    flex: 1;
                }
                &.first{
                    background-image: radial-gradient(circle, var(--victory-count-board-counter-first-bgi-in),var(--victory-count-board-counter-first-bgi-out));
                    box-shadow: inset 0 0 3px 3px var(--victory-count-board-counter-first-box-shadow);
                    color: var(--victory-count-first-color);
                    flex: 1;
                }
            }
        }
    
        .arrow {
            position: absolute;
            height: 2rem;
            width: 2rem;
            top: 2.5rem;
            &[turn="1"] {
                right: 8rem;
                filter: var(--turn-arrow-first-filter);
            }
            &[turn="2"] {
                left: 8rem;
                filter: var(--turn-arrow-second-filter);
            }
        }
    
        
    
        @keyframes rotate{
            100% { transform: rotate(360deg) };
        }
    
        .player {
            position: absolute;
    
            .name{
                width: 8rem;
                height: 2rem;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .turn {
                padding: 1rem 0;
                text-align: center;
            }
            &.second {
                top: 5rem;
                left: 5rem;
                .name {
                    background-color: var(--player-name-second-bgc);
                    box-shadow: 0 0 8px 4px var(--player-name-second-box-shadow-color);
                    color: var(--player-name-second-color);
                }
            }
            &.first {
                top: 5rem;
                right: 5rem;
    
                .name { 
                    background-color: var(--player-name-first-bgc);
                    box-shadow: 0 0 8px 4px var(--player-name-first-box-shadow-color);
                    color: var(--player-name-first-color);
                }
            }
    
        }
    }
}

.loaderContainer {
    .loaderBg {
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        background-color: var(--loader-bgc);
    }
    height: 20rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .title {
        font-size: 1.5rem;
        position: absolute;
        top: 0;
        color: var(--loader-title-color);
    }
    .loader {
        height: 8rem;
        width: 8rem;
        animation:  3s backwards infinite;
        animation-name: loader;
        filter: var(--loader-filter);
        & {
            @keyframes loader {
                100% { transform: rotate(360deg) };
            }
        }
    }
}

.winnerContainer{
    height: 25rem;
    width: 25rem;
    position: absolute;
   
    .crown {
        position: absolute;
        position: absolute !important;
        height: 25rem;
        width: 25rem;
        padding: 0;
        &[playerindex="1"] {
            filter: var(--crown-first-filter);
        }
        &[playerindex="2"] {
            filter: var(--crown-second-filter);
        }
        animation: 3s forwards infinite;
        animation-name: rotate;

    }
    .rematchBtn {
        position: absolute;
        top: -2rem;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        height: 2rem;
        width: 2rem;
        border-radius: 3px;
        background-color: var(--rematch-btn-bgc);
        cursor: pointer;
        box-shadow: 0 0 3px 1px var(--rematch-btn-box-shadow-color);
        &:hover{
            background-color: var(--rematch-btn-bgc-hover);
        }
        .rematchIcon{   
            // filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
            filter: var(--rematch-icon-filter);
            height: 100%;
            width: 100%;
        }
    }
}
